.prodview {
  padding-top: 3rem;
  background-color: white;
  margin-top: 1rem;
  border-radius: 5px;
  border: 1px solid var(--gray-300);
  padding: 0.6rem;
}

/* image section design  */
.prodview_display {
  height: auto;
  width: 100%;
  max-width: 460px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover;
}

/* designing the description part of the product */

.prod_desc__section {
  width: 100%;
  max-width: 460px;
}
.prod_desc {
  padding-bottom: 1rem;
}

.prod_desc__rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  flex-direction: row;
}

.dot {
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background-color: var(--gray-400);
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  width: fit-content;
}
.stars img {
  height: auto;
  width: 1.2rem;
}

.review,
.sold {
  font-size: 0.8rem;
  color: var(--gray-500);

  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  gap: 0.2rem;
}

.review svg,
.sold svg {
  height: auto;
  width: 0.9rem;
}

/* product title design  */

.prod_title {
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
}

.prod_price {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--red);
}

.prod_btn__section {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  flex-direction: row;
}

.prod_btn {
  padding: 8px 12px;
  width: 100%;
  color: white;
  background-color: var(--primary);
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.prod_btn__heart {
  padding: 6px;
  background-color: transparent;
  border: 1px solid var(--gray-400);
  border-radius: 5px;
  color: var(--primary);
  cursor: pointer;
}

.prod_btn__heart svg {
  height: auto;
  width: 1.2rem;
  color: inherit;
}

/* product points design  */

.prod_points {
  display: flex;
  gap: 1.8rem;
  padding-top: 2rem;
}

.prod_points__titles,
.prod_points__values {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.3rem;
}

.prod_points__titles span {
  font-size: 1rem;
  color: var(--gray-500);
}

.prod_points__values span {
  font-size: 1rem;
  color: var(--gray-600);
}

.prod_desc__content {
  color: var(--gray-600);
  padding-top: 1rem;
  padding-bottom: 0.8rem;
}

.readmore {
  color: var(--primary);
  font-weight: 400;
  padding-top: 1rem;
  cursor: pointer;
}

/* supplier design  */
.supplier_desc {
  width: 100%;
  max-width: 460px;
}

.supplier_desc__upper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid var(--gray-300);
  padding-bottom: 1rem;
}

.supplier_desc__icon {
  height: 3.4rem;
  width: 3.4rem;
  background-color: var(--gray-300);
  border-radius: 5px;
}

.supplier_info h4 {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--gray-600);
}

.supplier_info h3 {
  font-size: 1rem;
  font-weight: 500;
}
