.smallCard {
  border: 1px solid var(--gray-300);
  width: 220px;
  height: auto;
  padding: 0.5rem;
  /* margin: 1rem; */
  border-radius: 6px;
  background-color: white;

  cursor: pointer;
}

.smallCard:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.smallCardImg {
  width: 100%;
  height: auto;
}

.smallCardAbout {
  width: 100%;
  padding-top: 0.6rem;
}

.smallCardCost {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 0.4rem;
}

.smallCardDescription {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: -0.2px;
  color: var(--gray-500);
}
