.recommendation {
  padding-bottom: 4rem;
}

.recommendation_heading {
  padding-bottom: 1.4rem;
  font-weight: 600;
}

.recommendation_section {
  overflow-x: auto;
}

.recommendation_section__window {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

@media (min-width: 640px) {
  .recommendation_section__window {
    width: 100%;
    flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  .recommendation_section__window {
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}
